@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway:300,900');

* {

}
body {
  font-family: "Raleway";
  font-weight: 300;
  color: #000;
  overflow: hidden;
}
h1 {
  font-family: "Luckiest Guy";
  margin-bottom: 10px;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
}
a {
  color: black;
}
a:hover{
  text-decoration: none;
  color: #16b5cc;
}
span {
  font-family: "Raleway";
  font-size: 12px;
}
.bck {
  font-family: "Luckiest Guy";
}

.navbar {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-weight: 900;
  border-radius: 0px;
  height: 100px;
  padding-top: 15px;
}
.logo {
  font-family: "Luckiest Guy";
  font-size: 32px;
  float: right;
}
.logo:hover {
  background-image:linear-gradient(90deg,#18b5cc,#3ededb, #73efaf);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.menu {
  margin-top: 15px;
}
.account{
  margin-top: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: left;
    text-decoration: none;
    margin-right: 10px;
}

li a:hover {
  border-bottom: 4px solid #73efaf;
  color: #fff;
  text-decoration: none;
}
.act {
  color: #73efaf;
}
.act:hover {
  color:#73efaf;
}

.fillin {
  text-transform: uppercase;
  font-weight: 900;
}
input {
  border: 4px solid #18b5cc;
  background-color: #18b5cc;
  color: white;
  margin-bottom: 5px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 30px;
}
input:hover {
  color: black;
}
input:focus {
  color:black;
  background-color: white;
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #fff;
    background: transparent;
}
.search {
    float: center;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
    width: 100%;
}

button {
  width: 200px;
  height: 30px;
  margin-top: 5px;
  border: 4px solid #18b5cc;
  border-radius: 0px;
  text-transform: uppercase;
  color: #18b5cc;
  font-weight: 900;
  outline: none;
}
button:hover {
  background-color: #18b5cc;
  color:white;
  border: transparent;
  background: #18b5cc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #18b5cc , #73efaf); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #18b5cc, #73efaf); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #18b5cc, #73efaf); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #18b5cc , #73efaf); /* Standard syntax */
}

.sIn {

}
.tbl {
}
table {
  border-collapse: collapse;
  border: 4px solid #18b5cc;
  width: 100%;
  text-align: center;
}
thead {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #18b5cc;
}
tr {
  border-bottom: 4px solid #18b5cc;
}
.tbl-click tr:hover {
  background-color: #18b5cc;
  cursor: pointer;
}
.now {
  font-weight: 900;
}
.tbl input {
  border: 0px;
  background-color: transparent;
  width: inherit;
  height: auto;
}
